<b>Find the 'id' of the movie "Andhadhun" using TMDb API.

Output Format:

Print the id of the movie.</b>

In [1]:
import requests
api_key = "e226f4a5f5bace766952aa0d17182959"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Andhadhun", 'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/search/movie", headers = header, params=params)
data = response.json()
results = data.get('results')
for result in results:
    if result.get('title') == 'Andhadhun':
        print(result.get('id'))

534780

<b> Fetch the company id company 'Marvel Studios' using TMDb. Print the id. </b>

In [2]:
import requests
api_key = "b0a53d521764ab3bc5732e74a5cc06c9"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Marvel Studios", 'api_key':api_key}
header = {'Accept': 'application/json'}



response = requests.get(api_link + "/search/company", headers = header, params=params)
data = response.json()
results = data.get('results')
for result in results:
    if result.get('name') == 'Marvel Studios':
        print(result.get('id'))

420

<b> Find the vote count and vote average of the movie "3 Idiots" using the TMDb API

Output format: Vote Count , Vote Average </b>

In [3]:
import requests
api_key = "7db3160f5a6a9f49bb1ef8f6a2bcc230"
api_link = "https://api.themoviedb.org/3"
params = {'query':"3 Idiots", 'api_key':api_key}
header = {'Accept': "application/json"}
data = requests.get(api_link + "/search/movie", headers = header, params=params)
python_data = data.json()
results=python_data.get('results')
for result in results:
    if(result['title']=='3 Idiots'):
        print(result['vote_count'],result['vote_average'])
#print(results[0]['vote_count'],results[0]['vote_average'])

2233 7.991

<b> Fetch the names of top 5 similar movies to 'Inception' from the TMDb API.

Note:
While fetching the movie id, use the "original_title" field not the "title". Because the "title" field may contain duplicate values.
Output Format:
Print the name of the movies in a new line.
movie_name_1
movie_name_2
and so on </b>

In [4]:
import requests
## Write your code here
api_key = "b0a53d521764ab3bc5732e74a5cc06c9"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Inception", 'api_key':api_key}
header = {'Accept': 'application/json'}

response = requests.get(api_link + "/search/movie", headers=header, params = params)
data= response.json()
results = data.get('results')
for result in results:
    if result.get('original_title')=='Inception':
        id = result.get('id')
    
params2 = {'api_key':api_key}
response2 = requests.get(api_link + "/movie/" + str(id) + '/similar', headers=header, params = params2)
data2= response2.json()
results2 = data2.get('results')
for result in results2[:5]:
    print(result.get('title'))

Gods of Egypt
Sharknado
The Price
Blade Runner
Earth Girls Are Easy

<b> Fetch the top rated english movies in the US region using the TMDb API. From the result, print the first 10 movies which have original language as english. Also print their genres.

Note: Do not use the search/movies API for finding genres.

Output Format:
movie_name_1 - genre_1, genre_2 ....
and so on.. </b>

In [6]:
import requests 

api_key = "e226f4a5f5bace766952aa0d17182959" 
api_link = "https://api.themoviedb.org/3" 
header = {'Accept': 'application/json'} 
params = {'api_key':api_key, 'region':'US'} 
response = requests.get(api_link + "/movie/top_rated", headers = header, params = params) 

data = response.json() 
results = data.get('results') 

title_array = [] 
genre_id_array = [] 

for result in results: 
    if result.get('original_language') == 'en': 
        title_array.append(result.get('title')) 
        genre_id_array.append(result.get('genre_ids')) 
        
# To get the genre name corresponding to genre_id 
response2 = requests.get(api_link + "/genre/movie/list", headers = header, params = params) 
data2 = response2.json() 
genres = data2.get('genres') 
mapping = {} 

for genre in genres: 
    mapping[genre.get('id')] = genre.get('name') 

for i in range(10): 
    print(title_array[i], "-", end=" ") 
    for id in genre_id_array[i]: 
        print(mapping.get(id), end = ", ") 
    print()

The Shawshank Redemption - Drama, Crime,
The Godfather - Drama, Crime,
The Godfather Part II - Drama, Crime,
Schindler's List - Drama, History, War,
12 Angry Men - Drama,
The Dark Knight - Drama, Action, Crime, Thriller,
The Green Mile - Fantasy, Drama, Crime,
Pulp Fiction - Thriller, Crime,
The Lord of the Rings: The Return of the King - Adventure, Fantasy, Action,
Forrest Gump - Comedy, Drama, Romance,

<b> Find the name and birthplace of the present most popular person according to TMDb API.

Output Format:
id
name - birthplace </b>

In [7]:
import requests

url='https://api.themoviedb.org/3/person/popular'
headers={"accept":"application/json"}
response=requests.get(url,headers=headers,params={'api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'})
python_data=response.json()
results=python_data.get('results')
id=results[0]['id']

url2 = "https://api.themoviedb.org/3/person/" + str(id) + "?language=en-US"
response1=requests.get(url2,headers=headers,params={'api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'})
python_data1=response1.json()
print(python_data1['id'])
print(python_data1['name']+' - '+python_data1['place_of_birth'])

12799
Jeremy Piven - New York City, New York, USA

<b> Fetch the Instagram and Twitter handle of Indian Actress "Alia Bhatt" from the TMDb API.

Output Format
Print the Instagram and Twitter IDs space separated.
instagram_id twitter_id </b>

In [8]:
import requests

url1='https://api.themoviedb.org/3/search/person'
headers={"accept": "application/json"}
params={'query':'Alia Bhatt','api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'}
response=requests.get(url1,headers=headers,params=params)
python_data=response.json()
results=python_data.get('results')
id=results[0]['id']

url='https://api.themoviedb.org/3'
params1={'api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'}
response=requests.get(url+'/person/'+str(id)+'/external_ids',headers=headers,params=params1)
python_data1=response.json()
print(python_data1['instagram_id'],' ',python_data1['twitter_id'])

aliaabhatt   Aliaa08

<b> Fetch the names of the character played by Tom Cruise in the movies:

Top Gun
Mission: Impossible - Fallout
Minority Report
Edge of Tomorrow
Output Format:
Print the names of the characters played by Tom Cruise line separated, in the respective order given in question. </b>

In [9]:
import requests

url='https://api.themoviedb.org/3/search/person'
headers={"accept": "application/json"}
params={'query':'Tom Cruise','api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'}
response=requests.get(url,headers=headers,params=params)
python_data=response.json()
results=python_data.get('results')
for result in results:
    id=result['id']

url1='https://api.themoviedb.org/3'
movies=['Top Gun', 'Mission: Impossible - Fallout', 'Minority Report', 'Edge of Tomorrow']
response1=requests.get(url1+'/person/'+str(id)+'/movie_credits',headers=headers,params=params)
python_data=response1.json()
for i in movies:
    for j in python_data['cast']:
        if j['title']==i:
            print(j['character'])
            break

Lt. Pete 'Maverick' Mitchell
Ethan Hunt
Chief John Anderton [Pre-Crime]
Maj. William 'Bill' Cage

<b> Did James McAvoy play a role in the movie Deadpool 2. Print Yes or No. </b>

In [11]:
import requests
import json

url='https://api.themoviedb.org/3/search/person'
headers={"accept": "application/json"}
params={'query':'James McAvoy','api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'}
response=requests.get(url,headers=headers,params=params)
python_data=response.json()
results=python_data.get('results')
for result in results:
    if(result['name']=='James McAvoy'):
        id=result['id']

url1='https://api.themoviedb.org/3'
params1={'api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'}
response1=requests.get(url1+'/person/'+str(id)+'/movie_credits',headers=headers,params=params)
python_data=response1.json()
for i in python_data['cast']:
    if(i['original_title']=='Deadpool 2'):
        flag=True
if flag==True:
    print('Yes')
else:
    print('No')

Yes

<b> Using the result obtained in previous question, find out if James McAvoy was credited for his role in movie Deadpool 2. Print Yes or No. </b>

In [12]:
import requests
import json

url='https://api.themoviedb.org/3/search/person'
headers={"accept": "application/json"}
params={'query':'James McAvoy','api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'}
response=requests.get(url,headers=headers,params=params)
python_data=response.json()
results=python_data.get('results')
for result in results:
    if(result['name']=='James McAvoy'):
        id=result['id']

url1='https://api.themoviedb.org/3'
params1={'api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'}
response1=requests.get(url1+'/person/'+str(id)+'/movie_credits',headers=headers,params=params)
python_data=response1.json()
for i in python_data['cast']:
    if(i['original_title']=='Deadpool 2'):
        flag=True
if flag==True:
    print('Yes')
else:
    print('No')

Yes

<b> Using the result obtained in previous question, find out if James McAvoy was credited for his role in movie Deadpool 2. Print Yes or No. </b>

In [14]:
import requests

url = "https://api.themoviedb.org/3/search/person?include_adult=false&language=en-US&page=1"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers, params = {'query' : 'James McAvoy','api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'})
pd = response.json()
id = pd['results'][0]['id']
url2 = "https://api.themoviedb.org/3/person/" + str(id) + "/movie_credits?language=en-US"
params={'api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'}
response2 = requests.get(url2, headers=headers,params=params)
pd2 = response2.json()
flag = True
for i in pd2['cast']:
    if i['title'] == 'Deadpool 2':
        if 'uncredited' in i['character']:
            flag = False
            break
if flag:
    print('Yes')
else:
    print('No')

No

<b> Fetch the trending TV Shows for the week from the TMDb API and print the taglines of the top 5 shows. If there is no tagline, print 'Empty' instead

Output Format:
Print the taglines in new line. </b>

In [15]:
import requests

url = "https://api.themoviedb.org/3/trending/tv/week"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers,params={'api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'})
pd = response.json()

for i in pd['results'][:5]:
    id = i['id']
    url2 = "https://api.themoviedb.org/3/tv/" + str(id)
    response2 = requests.get(url2, headers=headers,params={'api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'})
    pd2 = response2.json()
    if pd2['tagline'] == '':
        print('Empty')
    else:
        print(pd2['tagline'])

Rise from the fall.
Marriage is their most dangerous mission.
The truth lies in the dark.
Empty
Set sail for One Piece!

<b> Print the names of all the TV shows to be aired today whose original language is english.

Output Format:
Print the name of each TV show in a new line. </b>

In [16]:
import requests

url = "https://api.themoviedb.org/3/tv/airing_today?language=en&page=1"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers,params={'api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'})
pd = response.json()
total = pd['total_pages']
for i in range(1,total + 1):
    url = "https://api.themoviedb.org/3/tv/airing_today?language=en"
    response = requests.get(url, headers=headers, params = {'page' : i,'api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'})
    pd = response.json()
    for i in pd['results']:
        if i['original_language'] == 'en':
            print(i['name'])

The Tonight Show Starring Jimmy Fallon
The Daily Show
The Late Show with Stephen Colbert
Coronation Street
The Kelly Clarkson Show
Watch What Happens Live with Andy Cohen
Late Night with Seth Meyers
QI
The Jennifer Hudson Show
Sherri
Love Island: All Stars
EastEnders
The ReidOut
Doctors
WWE NXT
Richard Osman's House of Games
Emmerdale
Inside the NFL
Silent Witness
La Brea
Married at First Sight
Home and Away
Hollyoaks
The Patrick Star Show
Australian Idol
FBI
FBI
This Hour Has 22 Minutes
Name That Tune
The View
Shortland Street
Naked News
Neighbours
Finding Your Roots
Escape to the Country
Good Trouble
The Price Is Right
Homes Under the Hammer
Neighbours
Quantum Leap
Batwheels
Storyville
Days of Our Lives
FBI: International
After Midnight
Naked News
The Curse of Oak Island
First Dates
Alex Wagner Tonight
Geordie Shore
Vanderpump Rules
Man reikia meilės
The New Look
The Martin Lewis Money Show
Australian Survivor
Dirty Laundry
Waterloo Road
Night Court
Chopped
Wipeout
999: On the Front Line
Reef School
For the Love of DILFs
Son of a Critch
Sunderland 'Til I Die
One More Time
Run the Burbs
Dogs Behaving (Very) Badly
Junior Doctors Down Under
Sunderland 'Til I Die
Life Below Zero: Next Generation
Asawa Ng Asawa Ko
Fixer to Fabulous
¡Allá tú!
Makiling
Battle of the Generations
Love & Hip Hop Atlanta
The Floor
MLP MYM
Gospel
The Bermuda Triangle: Into Cursed Waters
Real Time Crime
Encounter Party
Dinner Time Live with David Chang
Life Below Zero: First Alaskans
Comfort Food With Spencer Watts
Big Little Brawlers
TIKTOK: Murders Gone Viral
Inside Penneys
Love. Die. Repeat.
Rick Stein's Food Stories
The Hairy Bikers Go West
Clean It, Fix It
Deal or No Deal
Back Roads
Art's Wildest Movement: Mannerism
Eco-Heroines
BONES 25: DREAMING FORWARD

<b> Count the number of males and females in the cast of "Money Heist" using the TMDb API.

Output Format:
Print the count of male and female space separated.
male_count female_count </b>

In [17]:
import requests

url = "https://api.themoviedb.org/3/search/tv?include_adult=false&language=en-US&page=1"

headers = {"accept": "application/json"}

response = requests.get(url, headers=headers, params = {'query' : 'Money Heist','api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'})
pd = response.json()
id = pd['results'][0]['id']
url2 = "https://api.themoviedb.org/3/tv/" + str(id) + "/credits?language=en-US"

response2 = requests.get(url2, headers=headers,params = {'api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'})
pd2 = response2.json()
female = 0
male = 0
for i in pd2['cast']:
    if i['gender'] == 1:
        female += 1
    else:
        male += 1
print(male,female)

10 5

<b> Fetch the name and air date of S06E05 of the TV Show 'The Big Bang Theory' from TMDb API.

Output Format:
episode_name - air_date </b>

In [20]:
import requests

url = "https://api.themoviedb.org/3/search/tv"

headers = {"accept": "application/json"}
params={'query':'The Big Bang Theory','api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'}
response = requests.get(url, headers=headers, params =params)
pd = response.json()
id = pd['results'][0]['id']
url2 = 'https://api.themoviedb.org/3/tv/'+str(id)+'/season/6/episode/5'
response2 = requests.get(url2, headers=headers,params={'api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'})
pd2 = response2.json()
print(pd2['name'],' - ', pd2['air_date'])

The Holographic Excitation  -  2012-10-25

<b> Fetch the overview of the TV Show "FRIENDS" using TMDb API.

Output Format:
Print the Overview. </b>

In [21]:
import requests
import json

url='https://api.themoviedb.org/3/search/tv'
headers = {"accept": "application/json"}
params={'query':'FRIENDS','api_key':'7db3160f5a6a9f49bb1ef8f6a2bcc230'}
response=requests.get(url,headers=headers,params=params)
python_data=response.json()
results=python_data.get('results')
for result in results:
    if(result['original_name']=='Friends'):
        print(result['overview'])

Six young people from New York City, on their own and struggling to survive in the real world, find the companionship, comfort and support they get from each other to be the perfect antidote to the pressures of life.
Friends is a short-lived kids-oriented drama that aired in the spring of 1979. The series, which was produced by Aaron Spelling and aired on ABC, starred Charlie Aiken, Jill Whelan, and Jarrod Johnson as three Southern Californian 11-year-olds. Karen Morrow also appeared. Only five one-hour episodes were produced before the series was cancelled.